
 body {
            background-color: #FBFBFB;
        }

        .card-header {
            background-color: #f3f3f3;
            color: #000;
            border-bottom: none;
        }

        .card-body {
            padding: 0;
        }

        .table {
            margin-bottom: 0;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }

        .btn {
            border-radius: 0;
            padding: 0.5rem 1rem;
        }

        .btn i {
            margin-right: 5px;
        }

        .pagination {
            justify-content: center;
            margin: 1.5rem 0;
        }