<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{home/index.html}">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    <section class="row" layout:fragment="content">
    <h2>Change Password</h2>
    <form th:action="@{/changepassword}" th:object="${accountDto}" method="post">
        <div>
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" th:field="*{newPassword}" required>
        </div>
        <div>
            <button type="submit">Change Password</button>
        </div>
    </form>
    </section>
</body>
</html>
