<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/home/index"></html>
  <head>
    <body>
        <div th:fragment="footer">
            <footer>
                <div class="footer ">
        
                    <div class="row">
                        <div class="col-md-12 border_top">
                            <form class="news">
                                <h3>Newsletter</h3>
                                <input class="newslatter" placeholder="ENTER YOUR MAIL" type="text" name=" ENTER YOUR MAIL">
                                <button class="submit">Subscribe</button>
                            </form>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                                    <div class="address">
                                        <ul class="loca">
                                            <li>
                                                <a href="#"><img src="/images/loc.png" alt="#" /></a>Locations
        
                                            <li>
        
                                                <a href="#"><img src="/images/call.png" alt="#" /></a>+84787670468 </li>
                                            <li>
                                                <a href="#"><img src="/images/email.png" alt="#" /></a>huuvvhpd06670@fpt.edu.vn
                                            </li>
                                        </ul>
        
        
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                                    <ul class="social_link">
                                        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
        
                </div>
            </footer>
        </div>
    </body>
</head>
</html>